:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg: #0e0e12;
    --bg2: #13131a;
    --bg3: #17171e;
    --bg4: #1a1a24;
    --bg5: #1d1d29;
    --bg6: #21212e;
    --bg7: #252533;
    --bg8: #282838;
    --bg9: #2c2c3d;

    --fg: #e6e6ec;
    --fg2: #c3c3d4;
    --fg3: #ababba;
    --fg4: #9595a1;
    --fg5: #7c7c87;
    --fg6: #65656e;

    --fg-critical: #ff6375;

    --directory: #f0d77e;
    --file: var(--fg4);
}

body {
    min-width: 320px;
    margin: 0 auto;
    background-color: var(--bg);
    color: var(--fg);
}

main {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

li {
    padding: 2px;
}

li:hover {
    background-color: var(--bg4);
}

table {
    margin: 0;
    width: 100%;
}

label {
    font-size: 0.85em;
}

table th {
    user-select: none;
    padding-right: 10px;
}

table td, table th {
    padding: 5px;
    word-break: break-all;
}

table tr {
    line-height: 1.5;
    cursor: pointer;
}

pre {
    white-space: pre;
    text-wrap: wrap;
    width: 100%;
}

table tr i {
    color: var(--fg2);
    margin-right: 5px;
}

table tr:nth-child(odd) {
    background-color: var(--bg2);
}

table {
    text-align: left;
    border: none;
    line-height: 1.2;
    table-layout: fixed;
}

button, input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: var(--bg9);
    color: var(--fg);
    transition: background-color, color 0.2s;
}

input[type="text"], input[type="password"] {
    padding: 5px;
    width: 100%;
    border: 1px solid var(--bg4);
    background-color: var(--bg9);
    color: var(--fg);
    font-size: 1em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

button {
    border-radius: 3px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

button:hover {
    background-color: var(--bg7);
    transition: background-color 0.2s;
}

button:active {
    background-color: var(--bg6);
}

button:disabled, button:disabled:hover {
    background-color: var(--bg4);
    color: var(--fg6);
    transition: color 0.2s;
    cursor: default;
}

h5, h4, h3, h2 {
    margin: 0;
    padding: 0;
}

a {
    color: #8080a4;
}

.a:visited {
    color: unset;
}

iframe {
    border: none;
}

p {
    margin: 0;
}

select {
    padding: 5px;
    width: 100%;
    border: 1px solid var(--bg4);
    background-color: var(--bg9);
    color: var(--fg);
    font-size: 1em;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.avatar {
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

.hidden {
    color: var(--fg4) !important;
}

@media (max-width: 700px) {
    .not-show-on-phone {
        display: none;
    }
}