:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: #0e0e12;
  --bg-checker: #17171e;
  --bg2: #1a1a24;
  --bg3: #333346;
  --fg: #e6e6ec;
  --fg2: #c1c1d2;
  --fg3: #a6a6bf;
}

body {
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--bg);
  color: var(--fg);
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  padding: 2px;
}

li:hover {
  background-color: var(--bg2);
}

table {
  margin: 0;
  width: 100%;
}

i {
  color: var(--fg2);
}

table tr {
  line-height: 1.5;
}

table th {
  user-select: none;
}

table td, table th {
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: var(--bg-checker);
}

table tr:hover {
  background-color: var(--bg2);
}

button, input[type="submit"] {
  padding: 10px;
  border: none;
  background-color: var(--bg3);
  color: var(--fg);
  transition: background-color 0.2s;
}

input[type="text"], input[type="password"] {
  padding: 5px;
  width: 100%;
  border: 1px solid var(--bg2);
  background-color: var(--bg3);
  color: var(--fg);
  font-size: 1em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

button:disabled {
  color: var(--fg2);
  transition: background-color 0.2s;
}

button:disabled:hover {
  background-color: transparent !important;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--fg3);
  transition: background-color 0.2s;
}

h5, h4, h3, h2 {
  margin: 0;
  padding: 0;
}

a {
  color: #8080a4;
}

.a:visited {
  color: unset;
}

iframe {
  border: none;
}

p {
  margin: 0;
}

table {
  text-align: left;
  border: none;
  line-height: 1.2;
}

th {
  padding-right: 10px;
}